.App {
  font-family: sans-serif;
  text-align: center;
}

h1 {
  font-size: 2em;
  color: #13ade5;
}

.wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(5, auto);
}

@media screen and (min-width: 320px) {
  .wrapper {
    grid-template-columns: repeat(5, auto-fit);
    display: grid;
    grid-gap: 5px;
  }
}

.tile {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
  min-height: 40px;
  border: 3px #13ade5 groove;
  cursor: pointer;
}

.tile--set {
  background: #e1f6ff;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;

  overflow-y: hidden;
  overflow-x: hidden;

  height: 100vh;
  width: 100vw;
  margin: 0;

  pointer-events: none;
}

button {
  background: #13ade5;
  color: #fff;
  border: none;
  padding: 10px;
  font-size: 1em;
  cursor: pointer;
  margin-top: 40px;
  padding: 10px;
  width: 90px;
}
